
@import "tailwindcss";

html,body{

    overflow-x: hidden;

}

.pattern{
    /* From Uiverse.io by Yaya12085 */ 

    width: 100%;
    height: 100%;
    /* Add your background pattern here */
    background-image: linear-gradient(#ffffff 1.1rem, #ccc 1.2rem);
    background-size: 100% 1.2rem;

}