
@import "tailwindcss";

html,body{

    overflow-x: hidden;

}

.pattern{
    /* From Uiverse.io by Yaya12085 */ 

    width: 100%;
    height: 100%;
    /* Add your background pattern here */
    background-image: linear-gradient(#ffffff 1.1rem, #ccc 1.2rem);
    background-size: 100% 1.2rem;

}

.toggle{
    @apply  bg-slate-900 rounded-full ;
  }
  
  .blackButton {
    @apply cursor-pointer rounded-md bg-gray-700 px-[20px] py-[8px] font-semibold text-black;
  }

  .section_heading {
    @apply text-2xl font-bold text-black lg:text-4xl;
  }

  .lable-style {
    @apply text-[14px] text-black;
  }